body {
  margin: 0;
  padding: 0;
  background-color: #00BCD4 !important;
}
.quote-box {
  position: absolute;
  font-size: 24px;
  padding: 20px;
  background-color: #fff;
  height: auto;
  margin: 20vh auto;
  border: 0px;
  border-radius: 5px !important;
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.6);
}
.quote-box p{
  position: relative;
  display: block;
}
button{
  width: auto;
  text-align: center;
  display: block;
  margin: 15px auto 50px auto;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px !important;
}
.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 30px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
