body {
  margin: 0;
  padding: 0;
  background-color: #00BCD4 !important;
}
.quote-box {
  position: absolute;
  padding: 20px;
  background-color: #fff;
  height: auto;
  width: auto;
  margin: 20vh auto;
  border: 0px;
  border-radius: 5px !important;
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.6);
}
.quote-box p{
  position: relative;
  display: block;
  font-size: 30px;
  padding-left: 10px;
}
/*Buttons*/

.twitter{
  position: absolute;
  background-color: #fff;
  margin: 15px;
  height: 70px;
  border-radius: 15px !important;
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.6);
}
.twitter a{
  margin-top: -10px;
  text-decoration: none !important;
}
button{
  width: auto;
  text-align: center;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px !important;
}

/*footer*/

.footer {
  width: 150px;
  text-align: center;
  margin: 30px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
